@import url('http://fonts.cdnfonts.com/css/iranian-sans');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  ul {
    @apply list-disc list-inside
  }
  ol {
    @apply list-decimal list-inside
  }
}

* {
    text-align: right;
}

tr:nth-child(odd) {
    @apply bg-gray-50;
}

.easy-edit-button-wrapper button {
    display: none;
}

.easy-edit-validation-error {
    font-size: small;
    margin-top: 0.25rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
