@import url('http://fonts.cdnfonts.com/css/iranian-sans');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    text-align: right;
}

tr:nth-child(odd) {
    @apply bg-gray-50;
}

.easy-edit-button-wrapper button {
    display: none;
}

.easy-edit-validation-error {
    font-size: small;
    margin-top: 0.25rem;
}

